@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'clear';

body {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: "poppins";
    display: flex;
    flex-direction: column;
}

header {
    display: grid;
    padding: 0 20px;
    background: $white;
    grid-template-areas: 'logo search likes';

    @include ipad {
        grid-template-areas: 'logo likes' 'search search';
    }
    .logo {
        grid-area: logo;
        display: flex;
        align-items: center;

        img {
            height: 100px;
        }
    }
    .form {
        grid-area: search;
        display: flex;
        align-items: center;
        justify-content: center;
        @include ipad {
            margin-bottom: 30px;
        }

        form {
            background: white;
            border-radius: 40px;
            display: flex;
            align-items: center;
            transition: all 0.3s;
            overflow: hidden;
            box-shadow: 0px 20px 20px -10px rgb(38, 57, 77, 0.359);

            &:focus-within {
                transform: translateY(-4px);
                box-shadow: 0px 20px 30px -10px rgb(38, 57, 77);
            }

            input {
                font-size: 19px;
                padding: 8px 16px;
                @include ipad {
                    font-size: 16px;
                    padding: 6px 12px;
                }
                &::placeholder {
                    color: #dad0cc;
                }
            }

            button {
                border-radius: 40px;
                padding: 10px 30px;
                color: white;
                font-weight: bold;
                cursor: pointer;
                transition: all 0.3s;
                background-image: linear-gradient(45deg, $yellow 30%, $pink 100%);

                &:hover {
                    scale: 0.95;
                }
            }
        }
    }
    .bookmark {
        grid-area: likes;
        display: flex;
        align-items: center;
        justify-content: end;
        font-size: 25px;
    }
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    flex: 1;
    @include laptop {
        grid-template-columns: 1fr;
    }
}

section {
    height: 100%;
}

main #results {
    display: flex;
    flex-direction: column;
    .result-link {
        background: white;
        border-top: 2px solid white;
        padding: 20px 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 20px;
        transition: all 0.3s;

        &:hover {
            transform: translateY(-2px);
            background: #f9f5f3;
        }

        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        h4 {
            color: $yellow;
        }
    }
}

main #recipe {}

main #cart {}